{
  "extends": ["./index.js"], // because this extends the base and has most of the rules I care about
  "rules": {
    "quotes": [2, "double"], // because I may want to move this config to an .eslintrc eventually...
    "quote-props": 0, // same reason...
    "no-magic-numbers": 0, // because rules are 0, 1, 2
  }
}
